# Package Files #
*.jar
*.war
*.ear

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

project-root-directory/
+ build/
+ dist/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.lock
